# Compiled files
*.tfstate
*.tfstate.backup
*.tfvars

# Module directory
.terraform/
.idea/

# Project files and direcotires
*iml
ssh/

*.conf
wpa_supplicant.json
.vagrant/
Gemfile.lock
*gem

cid
config
coverage/
tmp/
